#nim
nimcache/
nimblecache/
htmldocs/

# ---> C
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.apk
*.wasm

# Debug files
*.dSYM/

# Local files
res/
Makefile
main.nim
main
shadow
nakefile
*.avi
./ecs.nim
./fog.nim
./main.nim
./Makefile
./alasgar.keystore
./profile_*
./release.keystore
./shadow.nim
./shadow
./test-release.sh
/example/hello
/example/normal
/example/main
/example/nakefile
/example/interactive
/example/build
/example/shadow

# Build and res direcory
build/
art/
.history
