#nim
nimcache/
nimblecache/
htmldocs/

# ---> C
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.apk
*.wasm

# Log files
*.log
*.history

# Big files
*.avi
*.mp4
*.flv

# Debug files
*.dSYM/

# Local files
res/
Makefile
main.nim
main
shadow
shadow.nim
light.nim
nakefile

# Build and res direcory
build/
art/

