@if asmjs or wasm:
  d:emscripten
@end

@if emscripten or asmjs or wasm:
  @if not wasm:
    d:asmjs
  @end

  cc = clang
  clang.exe = "emcc"
  clang.linkerexe = "emcc"
  clang.options.linker = ""
  cpu = "i386"
  os = "linux"
  mm = "arc"
  

  #Fix _setjmp/longjmp problem. https://irclogs.nim-lang.org/24-09-2017.html#12:19:50 
  d:nimStdSetjmp              # https://irclogs.nim-lang.org/24-09-2017.html#20:13:18
  d:noSignalHandlers
  passC = "-sUSE_WEBGL2=1 -sFULL_ES3=1"
  threads = "off"
  passL = "-sUSE_WEBGL2=1 -sFULL_ES3=1 -sUSE_PTHREADS=0 -sALLOW_MEMORY_GROWTH=1 --preload-file res --shell-file platforms/web/index.html"
@end
